.footer__left,
.footer__content,
.footer__right {
  background-color: $color-light-skin;
  @include d1-mq('large') {
    background: $color-dark-skin;
  }
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__links {
  display: flex;
  list-style-type: none;

  &__item a {
    margin-right: rem(40px);
    padding: rem(10px) rem(10px);
  }
}
