/*-------------------------------*/
/*UNIVERSAL GRID*/
/*-------------------------------*/

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(rem(20px), 1fr) minmax(0px, rem(1400px)) minmax(rem(20px), 1fr);
  grid-template-rows: rem(45px) 1fr rem(45px);
  grid-template-areas:
    'header-left header header-right'
    'main-left main main-right'
    'footer-left footer footer-right';
}

@include grid-areas(header);
@include grid-areas(main);
@include grid-areas(footer);

/*-------------------------------*/
/*MAIN INDEX GRID*/
/*-------------------------------*/

.main__index {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(10px, auto) repeat(4, 1fr) minmax(10px, auto) repeat(5, 1fr) minmax(
      10px,
      auto
    );
  gap: rem(15px);

  @include d1-mq('large') {
    grid-template-columns: minmax(10px, auto) repeat(10, 1fr) minmax(10px, auto);
    grid-template-rows: minmax(10px, auto) repeat(9, 1fr) minmax(10px, auto) minmax(10px, auto);
  }

  @include d1-mq('medium') {
    display: flex;
    flex-direction: column;
  }
}

.profile {
  @extend %center;
  grid-row: 1 / 7;
  grid-column: 1 / 7;

  @include d1-mq('large') {
    grid-row: 2 / 5;
    grid-column: 1 / 9;
  }
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 1 / 7;
  grid-column: 7 / 9;

  @include d1-mq('large') {
    grid-row: 2 / 4;
    grid-column: 9 / 13;
  }
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 7;
  grid-column: 9 / 13;

  @include d1-mq('large') {
    grid-row: 5 / 9;
    grid-column: 1 / 6;
    justify-content: flex-start;
  }
}

.blog {
  grid-row: 7 / 12;
  grid-column: 4 / 13;

  @include d1-mq('large') {
    grid-row: 5 / 11;
    grid-column: 6 / 13;
  }
}

.faq {
  grid-row: 7 / 12;
  grid-column: 1 / 4;

  @include d1-mq('large') {
    grid-row: 8 / 11;
    grid-column: 1 / 6;
  }
}
