.header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left,
.header__content,
.header__right {
  background-color: $color-dark-skin;

  @include d1-mq('large-keep') {
    position: relative;
    z-index: 100;
  }
}

.nav {
  display: flex;
  justify-content: space-evenly;
  transition: 0.4s ease;

  &__li-item {
    margin-right: rem(35px);

    &:first-child {
      @include d1-mq('large-keep') {
        margin-top: 20%;
      }
    }

    @include d1-mq('large-keep') {
      margin-bottom: 15%;
      opacity: 0;
    }
  }

  & a {
    position: relative;
    padding: rem(3px);
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;

    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      height: rem(1px);
      width: 100%;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
      background-color: $color-dark-purple;
    }

    &:hover {
      color: $color-dark-purple;

      &:before {
        transform: scaleX(1);
      }
    }
  }

  @include d1-mq('large-keep') {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 70%;
    height: 100vh;
    top: rem(35px);
    right: rem(-20px);
    background-color: $color-dark-skin;
    color: white;
    transform: translateX(100%);
    z-index: 100;
  }

  &--active {
    transform: translateX(0%);
  }
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  height: (24px);
  width: (24px);

  &__line {
    width: 100%;
    height: 2px;
    background-color: $color-dark-brown;
    transition: all 0.3s ease;
  }

  @include d1-mq('large-keep') {
    display: flex;
  }
}

@keyframes navLink {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .menu__line1 {
  transform-origin: left;
  transform: rotate(45deg) translateY(rem(-2px));
}

.toggle .menu__line2 {
  opacity: 0;
}

.toggle .menu__line3 {
  transform-origin: left;
  transform: rotate(-45deg) translateY(rem(3px));
}
