.main__content {
  background: linear-gradient(to right, $color-dark-skin 60%, $color-light-skin 40%);
}

.main__left {
  background-color: $color-dark-skin;
}

.main__right {
  background-color: $color-light-skin;
}
