// Background Images
@mixin img-bg(
  $h,
  $w,
  $img-name,
  $display: block,
  $bg-pos: center,
  $bg-repeat: no-repeat,
  $bg-size: cover
) {
  background-image: url('#{$img-path}/#{$img-name}');
  height: $h;
  width: $w;
  display: $display;
  background-size: $bg-size;
  background-position: $bg-pos;
  background-repeat: $bg-repeat;
}

//Grid area names

@mixin grid-areas($element) {
  .#{$element}__left {
    grid-area: #{$element}-left;
  }

  .#{$element}__content {
    grid-area: $element;
  }

  .#{$element}__right {
    grid-area: #{$element}-right;
  }
}

//Background Colors
