// Clearfix
%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Center Content
%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Typography
%link-heading {
  font: {
    family: $font-family--secondary;
    size: rem(18px);
    weight: $font-weight--regular;
  }
}

// Box Shadow
%box-shadow {
  box-shadow: rem(-5px) rem(5px) rem(5px) rgba($color: black, $alpha: 0.3);
}
