// Font Stacks
$font-url--google: 'https://fonts.googleapis.com/css?family=Lato:300i,400|Raleway:300i,400,600,700&display=swap';

$font-family--primary: 'Lato', sans-serif, Helvetica, Arial;
$font-family--secondary: 'Raleway', sans-serif, Helvetica, Arial;

//Font weights
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--semi-bold: 600;
$font-weight--bold: 700;

//Colors
$color-white: #fff;
$color-black: black;
$color-light-skin: #ebcebc;
$color-dark-skin: #cfa691;
$color-matte-pink: #fb9eac;
$color-matte-purple: #b37ba4;
$color-dark-purple: purple;
$color-dark-brown: #7b5b54;

//Text
$base__font-size: 16px;
$base__line: 24px;

//images
$img-path: '../images';
