.call-to-action__button {
  @extend %center;
  height: rem(50px);
  width: rem(130px);
  background-color: $color-matte-pink;
  border-radius: $border-radius--small;
  border: 1px solid $color-white;
  color: $color-white;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover,
  &:active {
    background-color: $color-white;
    color: $color-matte-pink;
    border: 2px solid $color-matte-pink;
  }
}
