// Buttons
.call-to-action__button {
  @extend %center;
  height: rem(50px);
  width: rem(130px);
  background-color: $color-matte-pink;
  border-radius: $border-radius--small;
  border: rem(1px) solid $color-white;
  color: $color-white;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover,
  &:active {
    background-color: $color-white;
    color: $color-matte-pink;
    border: rem(2px) solid $color-matte-pink;
  }

  @include d1-mq('medium') {
    width: 100%;
  }
}

.blog__shop-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 100%;
  background-color: $color-matte-purple;
  z-index: 100;
  border-radius: 0 0 $border-radius--small $border-radius--small;
  opacity: 0.8;
  text-align: center;
  color: $color-white;
  @extend %center;

  &:hover {
    opacity: 1;
  }

  @include d1-mq('medium') {
    // padding: rem(50px);
  }
}

// Cards
@mixin card($path) {
  display: flex;
  flex-direction: column;
  height: rem(300px);
  width: rem(180px);
  background-color: opacify($color-matte-purple, 0.9);
  border-radius: $border-radius--small;
  @extend %box-shadow;

  @include d1-mq('medium') {
    width: 100%;
    flex-direction: row;
    // min-width: 300px;
    max-height: rem(150px);
    margin-bottom: rem(20px);
  }

  &__pic {
    flex: 1;
    @include img-bg($path);

    @include d1-mq('medium') {
      margin: rem(10px);
      max-height: rem(150px);
    }
  }

  &__text {
    padding: rem(10px);
    flex: 1.4;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: rem(9px);
  }

  &__summary {
    height: rem(120px);
    min-height: 0;
    overflow: hidden;
  }

  &__link {
    text-align: right;
  }
}
