.main__content--blog {
  display: flex;
  justify-content: center;
}

.blog__wrapper {
  margin: rem(40px) auto;
  padding: rem(40px);
  background-color: $color-white;
  width: rem(760px);
  border-radius: $border-radius--small;
  min-height: 100vh;

  @include d1-mq('medium') {
    margin: 0;
    width: 110%;
    padding: rem(40px) 0px;
    width: 100%;
    border-radius: 0;
  }

  .blog__header {
    margin-bottom: 0px;
  }

  .blog__author {
    margin-top: rem(20px);
  }

  .blog__date {
    margin-bottom: rem(40px);
  }

  .blog__subheader {
    margin: 0 0 rem(5px) 0;
  }

  .blog__paragraph {
    margin-bottom: rem(40px);
  }

  .blog-img {
    height: 100%;
    width: 100%;
  }

  .blog__img-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    float: left;
    margin: 0 rem(20px) rem(5px) 0;

    @include d1-mq('medium') {
      float: none;
      order: 5;
      width: 100%;
      height: auto;
    }

    @include d1-mq('large-keep') {
      margin-bottom: rem(30px);
    }
  }

  .blog__img-section-wrapper {
    @include d1-mq('medium') {
      display: flex;
      flex-direction: column;
    }
  }

  .blog__list-item {
    margin-bottom: rem(30px);
    @extend %clearfix;
  }

  .blog__list-img {
    float: left;
    padding-top: rem(3px);
    height: 100px;
    width: 100px;
    margin-right: rem(15px);
  }
}

.white-out {
  @include d1-mq('medium') {
    background-color: $color-white;
  }
}
