.main__contact {
  height: 100%;
  width: 100%;
  @extend %center;
}

.contact {
  display: flex;
  flex-direction: column;
  width: rem(700px);
  height: rem(500px);

  &__header {
    flex: 1 1 20%;
    background-color: $color-matte-purple;
    border-radius: $border-radius--small $border-radius--small 0 0;
    display: flex;

    .contact__pic-container {
      flex: 1 1 25%;
      @extend %center;

      .contact__pic {
        height: rem(70px);
        width: rem(70px);
        background-color: $color-white;
        border-radius: 50%;
      }
    }

    .contact__info__container {
      flex: 1 1 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__form {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    background-color: $color-white;

    &__name-container {
      flex: 1 1 25%;
      display: flex;

      .contact__form__first-name-input {
        flex: 1 1 50%;
        border-right: rem(2px) solid $color-light-cool-gray;

        @include d1-mq('medium') {
          border-right: none;
          border-bottom: rem(2px) solid $color-light-cool-gray;
        }
      }

      .contact__form__last-name-input {
        flex: 1 1 50%;
      }

      @include d1-mq('medium') {
        flex-direction: column;
        flex: 1 1 40%;
      }
    }

    &__email-input {
      flex: 1 1 25%;
      border-top: rem(2px) solid $color-light-cool-gray;

      @include d1-mq('medium') {
        flex: 1 1 20%;
      }
    }

    &__message-input {
      flex: 1 1 50%;
      border-top: rem(2px) solid $color-light-cool-gray;

      @include d1-mq('medium') {
        flex: 1 1 40%;
      }
    }
  }

  &__footer {
    flex: 1 1 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $color-matte-purple;
    border-radius: 0 0 $border-radius--small $border-radius--small;
    padding: rem(15px);

    @include d1-mq('medium') {
      background-color: $color-white;
    }
  }

  & input,
  textarea {
    padding: rem(15px);
  }
}
