// Home Container

.home-container {
  display: flex;
  height: 100%;

  @include d1-mq('large-keep') {
    flex-direction: column;
  }
}

.hero {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: rem(600px);

  @include d1-mq('large-keep') {
    align-items: center;
  }

  @include d1-mq('medium') {
    margin-bottom: rem(50px);
  }
}

.home-content {
  flex: 1 1 45%;
}

// Profile

.profile__background {
  height: auto;
  width: 90%;
  border-radius: $border-radius--small;
  margin-bottom: rem(50px);
  max-width: rem(670px);

  @include d1-mq('large') {
    width: 100%;
  }

  @include d1-mq('medium') {
    width: 100%;
    margin: rem(40px) 0 rem(20px) 0;
  }
}

.profile__picture {
  height: rem(200px);
  width: rem(200px);
  background-color: $color-white;
  shape-outside: circle();
  border-radius: 50%;
  float: left;
  margin: rem(15px);
  border: rem(2px) solid $color-white;

  @include img-bg('../images/home-page/profile-pic.jpg');

  @include d1-mq('medium') {
    height: rem(100px);
    width: rem(100px);
    margin: 0 rem(15px) rem(15px) 0;
  }
}

.profile__text {
  margin-top: rem(10px);
  margin-right: rem(10px);
  display: block;

  @include d1-mq('medium') {
    margin: 0;
  }
}

// Call to Action

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//Shop Banner

.shop-banner {
  @include img-bg('../images/home-page/shop-banner-background.jpg', $color-black, 0.5);

  @extend %center;
}

// FAQ Banner

.faq-banner {
  background-color: $color-matte-purple;

  &__header {
    text-align: center;
    margin-bottom: rem(15px);
  }

  &__subheader {
    margin-bottom: rem(15px);
  }
}

// Blog Banner

.blog-banner {
  background-color: $color-white;
  border-radius: 0 0 $border-radius--small $border-radius--small;

  &__pic {
    height: 100%;
    width: auto;
    float: left;
    padding-right: rem(15px);

    @include d1-mq('medium') {
      height: auto;
      width: 100%;
      margin-bottom: rem(15px);
    }
  }

  &__header {
    margin-bottom: rem(15px);
  }

  @include d1-mq('large-keep') {
    margin-bottom: rem(50px);
  }

  @include d1-mq('medium') {
    display: flex;
    flex-direction: column;
  }
}

.read-more {
  margin-top: rem(15px);
  text-align: right;
}

// Blocks

.card-block {
  height: rem(200px);
  width: 100%;
  padding: rem(15px);
  overflow: hidden;
  max-width: rem(800px);

  @include d1-mq('large') {
    height: rem(250px);
  }

  @include d1-mq('medium') {
    height: rem(300px);
  }
}

.card-block--double {
  @include d1-mq('medium') {
    height: auto !important;
  }
}
