// Profile
.profile__background {
  height: auto;
  width: 90%;
  border-radius: $border-radius--small;

  @include d1-mq('large') {
    width: 100%;
  }
}

.profile__picture {
  height: rem(200px);
  width: rem(200px);
  background-color: $color-white;
  shape-outside: circle();
  border-radius: 50%;
  float: left;
  margin: 15px;
}

.profile__text {
  margin-top: 10px;
  margin-right: 10px;
  display: block;
}

// Shop
.shop__heading {
  position: relative;
  z-index: 1000;
  margin-bottom: rem(20px);
}

.shop__pic {
  position: relative;
  z-index: 100;

  &::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: $color-dark-skin;
    position: absolute;
    top: 20px;
    left: -25px;
    z-index: -1;
    border-radius: $border-radius--small;
  }

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: $color-dark-skin;
    position: absolute;
    bottom: 20px;
    right: -25px;
    z-index: -1000;
    border-radius: $border-radius--small;
  }
}

// blog
.blog__section {
  @include img-bg('../images/brushes.png', $color-white, 0.1);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 25px;
  width: 100%;
  background-color: white;
  border-radius: $border-radius--small;
}

.blog__heading,
.product__heading {
  text-align: center;
  margin-bottom: 13px;
}

.blog__cards,
.product__cards {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.blog__cards {
  @include d1-mq('large') {
    margin-bottom: 20px;
  }
}

.card + .card {
  margin-left: 25px;
}

.cards__container {
  display: flex;
  justify-content: center;
}

.card {
  @include card('../images/home-page/card-pic.png');
}

//FAQ
.faq__section {
  display: flex;
  justify-content: center;

  flex-direction: column;
  padding: 10%;
  height: 100%;
  width: 100%;
  background-color: $color-matte-purple;
  border-radius: $border-radius--small;
}

.faq__header {
  margin-bottom: 10%;
  text-align: center;
}

.faq__sub-header {
  position: relative;
  margin-bottom: 5%;

  &::before {
    content: '';
    height: rem(5px);
    width: rem(5px);
    border-radius: 50%;
    position: absolute;
    left: rem(-10px);
    top: rem(8px);
    background-color: $color-white;
  }
}

.faq__content {
  max-height: rem(215px);
  overflow: scroll;
  margin-bottom: 10%;
}

.faq__link {
  text-align: right;
}
