/*-------------------------------*/
/*BASE*/
/*-------------------------------*/

body {
  font-family: $font-family--primary;
  word-spacing: $base__word-spacing;
  color: $color-black;
}

h1,
h2,
h3 h4,
h5,
h6 {
  font-family: $font-family--secondary;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  color: $color-matte-purple;
  text-decoration: underline;
}

li {
  list-style-type: none;
}

/*-------------------------------*/
/*NAV*/
/*-------------------------------*/

// Site Header
.header__content {
  color: $color-dark-brown;
}

.header__logo a {
  font: {
    family: $font-family--secondary;
    size: rem(22px);
  }
  transition: color 0.3s ease;

  &:hover {
    color: $color-dark-purple;
  }
}

.nav {
  font-family: $font-family--secondary;
  letter-spacing: rem(1.5px);
}

// Site Footer
.footer__links {
  font: {
    font: $font-family--secondary;
    size: rem(12px);
  }

  &__item a {
    letter-spacing: rem(2px);
    color: $color-dark-brown;
  }
}

/*-------------------------------*/
/*Home Page*/
/*-------------------------------*/

// Hero Section

.profile__content {
  color: $color-white;
}

.call-to-action__header {
  font-size: rem(35px);
  font-family: $font-family--secondary;
  font-style: italic;

  &--mobile {
    color: $color-dark-brown;
    font: {
      size: rem(20px);
      family: $font-family--secondary;
      style: italic;
    }
  }
}

// Recent Blogs Section

.recent-blogs__header {
  font-size: rem(20px);
  font-family: $font-family--secondary;
  color: $color-dark-brown;
}

.blogs-card__header {
  font: {
    size: rem(16px);
    family: $font-family--secondary;
    style: italic;
  }
}

.blogs-card__paragraph {
  font-size: 14px;
}

.blogs-card__read-more {
  font-style: italic;
}

/*-------------------------------*/
/*Contact Page*/
/*-------------------------------*/

.contact__name {
  color: $color-white;
}

.contact__email {
  color: $color-white;

  font: {
    family: $font-family--primary;
    weight: $font-weight--light;
    size: rem(14px);
    style: italic;
  }
}

/*-------------------------------*/
/*Blog*/
/*-------------------------------*/

.blog__header {
  font-family: $font-family--primary;
  font-weight: 600;
  font-style: italic;
}

.blog__header--italicized {
  font-weight: $font-weight--light;
}

.blog__subheader--italicized {
  font-size: rem(18px);
  font-weight: $font-weight--light;
  font-style: italic;
}

.blog__author,
.blog__date {
  font-size: rem(14px);
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  font-style: italic;
}

.blog__subheader {
  font-size: rem(24px);
  font-weight: $font-weight--regular;
  font-style: italic;
  font-weight: 600;
}

/*-------------------------------*/
/*Utility*/
/*-------------------------------*/

.font--bold {
  font-weight: 800;
}
