/*-------------------------------*/
/*BASE*/
/*-------------------------------*/

body {
  font-family: $font-family--primary;
  word-spacing: $base__word-spacing;
  color: $color-black;
}

h1,
h2,
h3 h4,
h5,
h6 {
  font-family: $font-family--secondary;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  color: $color-matte-purple;
  text-decoration: underline;
}

li {
  list-style-type: none;
}

/*-------------------------------*/
/*NAV*/
/*-------------------------------*/

// Site Header
.header__content {
  color: $color-dark-brown;
}

.header__logo a {
  font: {
    family: $font-family--secondary;
    size: rem(22px);
  }
  transition: color 0.3s ease;

  &:hover {
    color: $color-dark-purple;
  }
}

.nav {
  font-family: $font-family--secondary;
  letter-spacing: rem(1.5px);
}

// Site Footer
.footer__links {
  font: {
    font: $font-family--secondary;
    size: rem(12px);
  }

  &__item a {
    letter-spacing: rem(2px);
    color: $color-dark-brown;
  }
}

/*-------------------------------*/
/*Home Page*/
/*-------------------------------*/

// Profile
.profile__text {
  color: $color-dark-brown;
}

// Call to action
.call-to-action__text {
  font-style: italic;
  font-weight: $font-weight--light;
  font-size: rem(40px);
  color: $color-dark-brown;

  @include d1-mq('medium') {
    font-size: rem(24px);
  }
}

//shop banner
.shop-banner__cta {
  color: $color-white;
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
}

//faq banner
.faq-banner {
  color: $color-white;

  &__header {
    font-size: rem(18px);
    font-weight: $font-weight--regular;
  }

  &__subheader,
  .read-more {
    font-style: italic;
    font-weight: $font-weight--light;
  }

  &__text {
    font-size: rem(16px);
  }
}

//blog banner
.blog-banner {
  &__header {
    font-weight: $font-weight--regular;
    font-style: italic;
  }
}

/*-------------------------------*/
/*Contact Page*/
/*-------------------------------*/

.contact__name {
  color: $color-white;
}

.contact__email {
  color: $color-white;

  font: {
    family: $font-family--primary;
    weight: $font-weight--light;
    size: rem(14px);
    style: italic;
  }
}

/*-------------------------------*/
/*Blog*/
/*-------------------------------*/

.blog__header {
  font-family: $font-family--primary;
}

.blog__header--italicized {
  font-weight: $font-weight--light;
}

.blog__subheader--italicized {
  font-size: rem(18px);
  font-weight: $font-weight--light;
  font-style: italic;
}

.blog__author,
.blog__date {
  font-size: rem(14px);
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  font-style: italic;
}

.blog__subheader {
  font-size: rem(24px);
  font-weight: $font-weight--regular;
}
